<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> -Aplicacion crud</h1>
    <p>Fuma Menos Aplicacion Web <%= title %></p>
  </body>
</html>
