<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form1</title>
    <link rel="stylesheet" href="/fumaMenos/src/css/styleAddConsumo.css">
</head>
<body>
    <div class="container1">
        <span style="--l: 'F'">F</span>
        <span style="--l: 'u'">u</span>
        <span style="--l: 'm'">m</span>
        <span style="--l: 'a'">a</span>
        <span style="--l: '-'">-</span>
    </div>


    <div class="container" id="filter">

    <form name="form1" id="formid" action="/addConsumo" method="post">

        
        <table class="tableid">

            <tr>
                <td><label id="lb1"><b>¿Qué día es?</b></label></td>
            </tr> 

            <tr>
                <td><input id="lb10" onfocus="getId()" type="date" class="field" name="date"></td>
            </tr>

            <tr>
                <td><br><label id="lb3"></label><b>¿Qué hora es?</b></td>
            </tr>

            <tr>
                <td><input id="lb10" type="time" class="field" name="time"></td>
            </tr>

            <tr>
                <td><br><label id="lb5"><b>¿Dondes estoy?</b> </label></td>
            </tr>

            <tr>
                <td><select id="lb9" class="field" name="place"> 
                    <option value="casa">En casa</option>
                    <option value="escuela">En la escuela</option>
                    <option value="trabajo">En el trabajo</option>
                    <option value="plaza">Plaza publica</option>
                    <option value="bar">En el bar</option>
                    <option value="vehiculo">Mi vehiculo</option>
                </select></td>
            </tr>

            <tr>
                <td><br><label id="lb7"><b>¿Cuántos cigarrillos fumé?</b></label></td>
            </tr>

            <tr>
                <td><input type="number" class="field" placeholder="Ejemplo: 3" name="nCigarettes"></td>
            </tr>

            <tr>
                <td><br><label id="lb2"></label><b>¿Cómo me sentí?</b></td>
            </tr>

            <tr>
                <td>
                    <select id="lb9" class="field" name="emotion"> 
                        <option value="Feliz">Feliz</option>
                        <option value="Triste">Triste</option>
                        <option value="Enojado">Enojado</option>
                        <option value="Confundido">Confundido</option>
                        <option value="Decepcionado">Decepcionado</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><br><label id="lb4"><b>¿Tuviste compañia?</b></label></td>
            </tr>

            <tr>
                <td> <br>
                    <input id="lb11" type="radio" name="company" checked value="si"/>Si
                    <input id="lb11" type="radio" name="company" value="no"/>No
                </td>
            </tr>

            
            <tr>
                <td><br><label id="lb6"><b>¿Algo que comentar?</b></label></td>
            </tr>

            <tr>
                <td><input type="text"  class="field" placeholder="Ejemplo: Tengo ganas de dormir..." name="note"></td>
            </tr>
            <input type="hidden" id="id" name="id">
           <!-- <tr>
                <td><input type="hidden" value=idUsuario name="idUsuario"></td>
            </tr>
 -->
            <tr>
                <td><br> <button type="submit"><span></span>Registrar</button></td>
            </tr>

            <tr>
                <td align="center"><br><label id="lb8">ㅤ⠀ㅤㅤ⠀ㅤ<br>ㅤ⠀ㅤㅤ⠀ㅤ</label></td>
            </tr>

        </table>


    </form>
</div>
    <script>
        function getId() {
            let id = document.getElementById('id')
            id.value = window.localStorage.getItem('id')
            console.log(id.value)
        }
    </script>
</body>
</html>