<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fumaMenos/src/css/styleIndex.css">
    <title>Landing Page</title>
</head>
<body>

    <div class="in-flex">
        <nav class="nav" id="filter">
            
            <img src="fumaMenos/src/img/dibujo.png" width="110px" height="100px">

            <a href="/login" class="boton cinco">
                
                    <svg  id="icono" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                
                <span>Inicia ahora</span>
            </a>

        </nav>

        <div class="base2" id="filter">

            <center><br><b id="titulo">Fuma Menos</b></center> <br>
            <center><p id="pa1">La aplicación para dejar el tabaquismo esta aquí.</p></center> <br>

            <center><img  id="img1" src="fumaMenos/src/img/logocool.png" width="100px" height="90px"></center>
            <img id="img6" src="fumaMenos/src/img/no-fumar.png" width="50px" height="50px">

        </div>




        <div class="base3" id="filter">

            <img id="img2" src="fumaMenos/src/img/hola.jpg" width="455px" height="600px"> <br><br><br>



        </div>

        <div class="base4" id="filter">
            <center>
                <h2>Beneficios</h2> <br>
                <li>Llevará un control sobre su consumo de tabaco.</li><br><br>
                <li>Le ayudará a moderar el consumo de tabaco.</li><br><br>
                <li>Mejorará su salud física y psicológica.</li><br><br>
                <li>Tendrá una mejor calidad de vida.</li>

            </center>
         

        </div>

        <div class="base5" id="filter">
            <center>
            <h2>Caracteristicas</h2>
            <p>La aplicación le ayudara a tratar su problema del tabaquismo, también <br> tendrá la oportunidad de observar sus progresos mediante un <br> opción de historial de consumo.</p><br>
            <p>La aplicación le dará la satisfacción de moderar su consumo, entre <br> más la use, obtendrá mejores resultados al día.</p><br>
            <p>Tendrá una mejor mentalidad contra el vicio del tabaco y mostrará una <br> mejoría en su salud gracias al control de consumo.</p><br>
            <p>Tendrá una mejor vida gracias a que sus problemas disminuirán durante <br> el uso de nuestra aplicación.</p>
        </center>

        </div>
       
    </div> <br><br><br><br><br>

    <footer class="footer" id="footer">
        <center>
        <input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal">Acerca de los creadores</label>
	<div class="modal">
		<div class="contenedor">
            <center>
                <header>¡Bienvenido!</header>
                <label for="btn-modal">X</label>
                <div class="contenido">
                    <h3>Noé Alejandro Rodriguez Moto</h3>
                    <p>Correo: alxg5516@gmail.com</p>
                    <h3>Luis Alberto Batalla Gonzalez</h3>
                    <p>luisalbagoz@gmail.com</p>
                    <h3>Joel de Jesus Lpez Ruiz</h3>
                    <p>Joelssj93@gmail.com</p>
                </div>
            </center>
		
		</div>
	</div>
</center>
    </footer>
    
    
</body>
</html>


